/* Your work here */

html {
  width: 100%;
  height: 100%;
  margin: 0%;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: rgb(132,234,102);
  background: linear-gradient(141deg, rgba(132,234,102,1) 0%, rgba(118,209,208,1) 50%, rgba(161,76,250,1) 100%);
}

table {
  width: 100%;
  table-layout:fixed;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius:30px;
  border-collapse: collapse;
  border-style: hidden;
  box-shadow: 0 0 0 1px;
}

th {
  padding: 8px;
  background-color: #76d1cf;
}
td {
  padding: 8px;
  border: 1px solid #a14cfa;
  background-color: white;
}

tr:nth-child(even) td {background-color: #f2f2f2;}

tr:hover td {background-color: #84ea66;}

input {
  width: 90%;
  margin: 2px;
  padding: 10px;
  font-size: 15px;
}

.menu {
  height: 100%;
  width: 250px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.menu-button {
  width: 80%;
  margin: 8px;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background-color: #84ea66;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#card {
  width: 350px;
  height: 350px;
  margin: 10px;
  text-align: center;
  overflow-y: scroll;
  border-radius: 30px;
  background-color: #a14cfa;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-container {
  padding: 25px;
}

.field-label {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
  color: white;
}